{% load static %}

<html>
<head>
	<title>DOCTOR AI</title>
	
	<link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet">
	
</head>
<body>
	
	<div class="top">
		<div>
		 Contact Us +980000000 / 01 | Bytecoder@hospital.com 
		</div>
	</div>
	
	<div class="logo">
		<div>
			<table>
				<tr>
					<td width="600px" style="font-size:50px;font-family:forte;"> <font color="#428bca"> DOCTOR </font><font color="#000">AI</font> </td>
					<td> <br> <br>
						<font size="4px"> 
							<a href="{% url 'index' %}">HOME</a>
							<a href="{% url 'about_us' %}">ABOUT US</a>
							<a href="{% url 'register' %}">REGISTER</a>
							<a href="{% url 'sign_in' %}">SIGN IN</a>

							
						</font>
					</td>
				</tr>
			</table>
		</div>
	</div>
	
	
	
	<div class="bottom">
		<div>
			<table border="0">
				<tr>
					<td width="700px">
						<font color="#000"> We are medical center </font> <br> <br>

					<font color="#000" size="5px"> We Have Medicare Plan Options for You! </font> <br> <br>

					Artificial Intelligence (AI) is a branch of computer science focused on creating systems that can perform tasks that typically require human intelligence. These systems simulate human thought processes, such as learning, reasoning, problem-solving, and decision-making, to achieve various goals. AI encompasses a wide range of techniques and applications, including machine learning, natural language processing, computer vision, and robotics. It has found applications in numerous fields, including healthcare, finance, automotive, and more. AI systems can analyze vast datasets, recognize patterns, automate repetitive tasks, and make predictions, making them powerful tools for enhancing efficiency, productivity, and decision-making in both business and everyday life. AI's potential continues to grow, with ongoing research and development pushing the boundaries of what AI can achieve. <br><br>
<ul>
	AI disease prediction systems analyze patient symptoms using machine learning algorithms and extensive medical data, including electronic health records. By identifying patterns and relationships, these AI models can assist in early disease detection, leading to more effective treatments and improved patient outcomes. They also enable personalized medicine, tailoring treatment plans to individual patient characteristics. However, ethical concerns like data privacy and bias, as well as the seamless integration of AI into clinical workflows, remain important challenges. Ongoing research aims to enhance AI accuracy and transparency in disease prediction, promising to revolutionize healthcare diagnosis and treatment.
</ul>
<br>
 </td>
					
					
					<td> </td>
				</tr>
			
				
			</table>
		</div>
	</div>
	
	
	
	
	
	
	<div style="position:absolute;bottom:0px;"class="nav_down">
		<div>
		 &copy; DOCTOR AI ;CREATED BY BISHAL
		</div>
	</div>
	
